@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Comic+Neue:wght@300;400;700&family=Nerko+One&display=swap');
/* Start Global variables */
:root {
  --headersFonts:comic ,"Nerko", cursive;
  --secondFonts:comic ,"Nerko", cursive;
}
body {
  background-color: #272B30;
  font-family: var(--secondFonts);
}
.headerFonts {
  font-family: var(--headersFonts);
} 
/* End Global variables */
/* Start Header  */
header img {
  object-fit: cover;
  height: 30vh;
  width: 100%;
}
/* End Header  */
/* Start NavBar */
nav .container{
  background-color: rgb(58, 73, 123) !important;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.7);
  border-radius: 20px;
  margin-top: -30px;
}
nav {
  position: sticky !important;
  top: 0;
  z-index: 5;
}
nav h1 {
  font-size: 20px;
  font-weight: 500;
}
nav img {
  width: 40px;
}
nav ul li a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12.25px;
  text-decoration: none;
}
nav ul li {
  margin: 0 15px;
}
.navlink.active{
  color: #09c !important;
  transition: color 0.5s;
}
.navlink{
  transition: color 0.5s;
}
.navlink:hover {
  color: #09c !important;

}
/* End NavBar */
/* Start Card */
.cardTitle {
  font-size: 14px;
}
.cardNAme{
  font-size: 10.5px;
}
.badge-color {
  background-color: #32383E;
}
.card p {
  font-size: 12px;
}
main .card {
  filter: grayscale(0.7);
  transition: transform 0.5s, filter 0.5s 0.1s;
  cursor: pointer;
}
main .card:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}
/* End Card */

/* Start Loading  */
.loading {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: #272b30e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: relative;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    
    transform: rotate(360deg);
  }
}
/* End Loading  */

.details {
  background-color: #27282B;
  min-height: 100vh;
}

.fw-700 {
  font-weight: 700 !important;
  font-size: 12px;
}